
.myparagraph {
    margin-top: 30px;
    margin-bottom: 30px;
}

.gmap-wrap {
    max-width: 50%;
}

.gmap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;
}

.gmap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
